@using DoveLink.Applications.Extensions;

@{
    var links = new Dictionary<string, string>
    {
        { "HomeEquityApplication", "Application Type" },
        { "LoanApplicant", "Primary Applicant" },
    };
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

     <link rel="stylesheet" href="~/Content/normalize.css" />
     <link rel="stylesheet" href="~/Content/_variables.css" />
     <link rel="stylesheet" href="~/Content/skeleton.css" />
     <link rel="stylesheet" href="~/Content/app.css" />
     <link rel="stylesheet" href="~/Content/sidebar.css" />

    <script src="~/Scripts/lib/modernizr-2.8.3.js"></script>
     
    <link type="text/css" rel="stylesheet" href="~/Content/iconic/font/css/open-iconic.css" />
</head>
<body>
    <section class="sidebar-container bg-primary">
        @if (Html.CurrentController() != "LandingPage")
        {
        <section id="page-logo">
            &nbsp;
        </section>
        <nav id="sidebar">
            <div class="account-information">
                <h6 class="text-bold">
                    Account: 0000012345
                </h6>
                <h6 class="text-bold">
                    Type: 0 - General Membership
                </h6>
            </div>
            <ul>
                @foreach (var x in links)
                {
                    <li class="@Html.ActiveClass(x.Key)">
                        @Html.IfActive(x.Key, @"<span class=""oi"" data-glyph=""caret-right"" title =""active menu"" aria-hidden=""true"" ></span>")
                        <a href="/HomeEquity/@x.Key/Index">@x.Value</a>
                    </li>
                }
            </ul>
            <ul class="exit">
                <li style="text-align:center">
                    <a href="/LandingPage/Index">Exit</a>
                </li>
            </ul>
        </nav>
        }
    </section>
    <div id="main" class="container">
        @RenderBody()
    </div>


    <script src="~/Scripts/lib/jquery-3.4.1.js"></script>
    <script src="~/Scripts/lib/jquery.inputmask.js"></script>
    <script src="~/Scripts/lib/day.js"></script>
    <script src="~/Scripts/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

